Download heart disease dataset heart.csv in Exercise folder and do following, (credits of dataset: https://www.kaggle.com/fedesoriano/heart-failure-prediction)

1. Load heart disease dataset in pandas dataframe
2. Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3
3. Convert text columns to numbers using label encoding and one hot encoding
4. Apply scaling
5. Build a classification model using various methods (SVM, logistic regression, random forest) and check which model gives you the best accuracy
6. Now use PCA to reduce dimensions, retrain your model and see what impact it has on your model in terms of accuracy. Keep in mind that many times doing PCA reduces the accuracy but computation is much lighter and that's the trade off you need to consider while building models in real life

In [2]:
import pandas as pd

dataFrame = pd.read_csv('heart.csv')
dataFrame

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

z-Score

In [3]:
dataFrame[dataFrame['Cholesterol']>dataFrame['Cholesterol'].mean()+3*dataFrame['Cholesterol'].std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [4]:
dataFrame.shape

(918, 12)

In [5]:
df1= dataFrame[dataFrame['Cholesterol']<=(dataFrame['Cholesterol'].mean()+3*dataFrame['Cholesterol'].std())]
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [6]:
df1.shape

(915, 12)

Convert text columns to numbers using label encoding and one hot encoding

In [7]:
dummies_variable1 = pd.get_dummies(df1['ChestPainType']).astype(int)
dummies_variable2 = pd.get_dummies(df1['RestingECG']).astype(int)
dummies_variable3 = pd.get_dummies(df1['ST_Slope']).astype(int)

In [8]:
df2 = pd.concat([df1,dummies_variable1,dummies_variable2], axis='columns')
df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA,LVH,Normal,ST
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0,1,0,0,0,1,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,0,1,0,0,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0,1,0,0,0,0,1
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,1,0,0,0,0,1,0
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0,0,1,0,0,1,0

or use replace

In [9]:
df3 = df1.copy()
df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [10]:
ChestPainType_Variable =  df3['ChestPainType'].unique()
RestingECG_Variable = df3['RestingECG'].unique()
ST_Slope_Variable = df3['ST_Slope'].unique()

print(f"ChestPainType : {ChestPainType_Variable}")
print(f"RestingECG : {RestingECG_Variable}")
print(f"ST_Slope : {ST_Slope_Variable}")

ChestPainType : ['ATA' 'NAP' 'ASY' 'TA']
RestingECG : ['Normal' 'ST' 'LVH']
ST_Slope : ['Up' 'Flat' 'Down']

In [11]:
df3['ChestPainType']= df3['ChestPainType'].replace({
    'ATA':1, 
    'NAP':2,
    'ASY':3,
    'TA':4
})

df3['RestingECG']=  df3['RestingECG'].replace({
    'Normal':0,
    'ST':1,
    'LVH':2
})

df3['ST_Slope'] = df3['ST_Slope'].replace({
    'Up':0,
    'Flat':1,
    'Down':2
})

df3['ExerciseAngina'] = df3['ExerciseAngina'].replace({
    'N':0,
    'Y':1
})

df3['Sex'] = df3['Sex'].replace({
    'M':1,
    'F':2
})


df3.head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_16356\3714082216.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['ChestPainType']= df3['ChestPainType'].replace({
C:\Users\DELL\AppData\Local\Temp\ipykernel_16356\3714082216.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['RestingECG']=  df3['RestingECG'].replace({
C:\Users\DELL\AppData\Local\Temp\ipykernel_16356\3714082216.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['ST_Slope'] = df3['ST_Slope'].replace({
C:\Users\DELL\AppData\Local\Temp\ipykernel_16356\3714082216.py:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['ExerciseAngina'] = df3['ExerciseAngina'].replace({
C:\Users\DELL\AppData\Local\Temp\ipykernel_16356\3714082216.py:25: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['Sex'] = df3['Sex'].replace({

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,0,172,0,0.0,0,0
1,49,2,2,160,180,0,0,156,0,1.0,1,1
2,37,1,1,130,283,0,1,98,0,0.0,0,0
3,48,2,3,138,214,0,0,108,1,1.5,1,1
4,54,1,2,150,195,0,0,122,0,0.0,0,0

In [12]:
x = df3.drop("HeartDisease", axis='columns')
y = df3['HeartDisease']

Scaling

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)
X_scaled

array([[-1.43736051, -0.5153253 , -1.70298962, ..., -0.82395333,
        -0.8316562 , -1.04905332],
       [-0.4804758 ,  1.94052184, -0.52961951, ..., -0.82395333,
         0.10549334,  0.59740258],
       [-1.75632207, -0.5153253 , -1.70298962, ..., -0.82395333,
        -0.8316562 , -1.04905332],
       ...,
       [ 0.37008838, -0.5153253 ,  0.6437506 , ...,  1.21366098,
         0.29292324,  0.59740258],
       [ 0.37008838,  1.94052184, -1.70298962, ..., -0.82395333,
        -0.8316562 ,  0.59740258],
       [-1.65000155, -0.5153253 , -0.52961951, ..., -0.82395333,
        -0.8316562 , -1.04905332]])

Build a classification model using various methods (SVM, logistic regression, random forest) and check which model gives you the best accuracy

In [17]:
from sklearn.model_selection import train_test_split

x_train,x_test, y_train, y_test = train_test_split(X_scaled,y, test_size=0.3,random_state=42)

In [26]:
accuracy = {
    'SVM':[], 
    'LogisticRegression':[],
    'RandomForestClassifier':[]
}

In [27]:
# SVM, 
from sklearn.svm import SVC

svm_model= SVC()
svm_model.fit(x_train, y_train)
svm_Score = svm_model.score(x_test,y_test)
accuracy['SVM'].append(svm_Score)
print(f"SVM Score : {svm_Score}")

SVM Score : 0.8581818181818182

In [29]:
# logistic regression, 
from sklearn.linear_model import LogisticRegression

lR_model = LogisticRegression()
lR_model.fit(x_train,y_train)
lR_Score = lR_model.score(x_test,y_test)
accuracy['LogisticRegression'].append(lR_Score)

print(f"LogisticRegression : {lR_Score}")

LogisticRegression : 0.8436363636363636

In [30]:
# Random Forest, 
from sklearn.ensemble import RandomForestClassifier

RF_model = RandomForestClassifier()
RF_model.fit(x_train,y_train)
RF_Score = RF_model.score(x_test,y_test)
accuracy['RandomForestClassifier'].append(RF_Score)

print(f"RandomForestClassifier : {RF_Score}")

RandomForestClassifier : 0.8581818181818182

In [31]:
accuracy

{'SVM': [0.8581818181818182],
 'LogisticRegression': [0.8436363636363636],
 'RandomForestClassifier': [0.8581818181818182]}

In [33]:
# PCA, 
from sklearn.decomposition import PCA

pca = PCA(0.95)
x_pca = pca.fit_transform(x)
x_pca

array([[ 93.58869084, -29.21273127],
       [-15.8483241 , -13.61796511],
       [ 83.00769551,  38.33026243],
       ...,
       [-67.84695982,  17.25137435],
       [ 40.47767302, -33.46082717],
       [-20.14329472, -37.16415149]])

In [36]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(x_pca, y, test_size=0.2, random_state=30)

In [37]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train_pca,y_train)

model.score(X_test_pca, y_test)

0.6939890710382514